.main {
    min-height: 800px;
}

.axis path, .axis line {
    fill: none;
    stroke: #4A4A4A;
    shape-rendering: crispEdges;
}

.tick text {
    font-size: 12px;
}

.points circle {
    opacity: 0.6;
    cursor: pointer;
}

.line {
    fill: none;
    stroke-width: 3px;
}

.guideline {
    pointer: cursor;
}

circle.property, rect.property {
    fill: #66c2a5;
}

circle.violent, rect.violent {
    fill: #e78ac3;
}

circle.rape, rect.rape {
    fill: #fc8d62;
}

circle.gun, rect.gun {
    fill: #8da0cb;
}

circle.homicide, rect.homicide {
    fill: #a6d854;
}

circle.other, rect.other {
    fill: #ffd92f;
}

.container .title {
    text-align: center;
    margin-bottom: 25px;
}

.info-panel {
    position: absolute;
    width: 350px;
    margin: 0 auto;
    background-color: #EEE;
    padding: 10px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #DDD;
}

.info-panel h3 {
    font-size: 14px;
    font-family: 'Source Code Pro', monospace;
}

.info-panel h3 .inner {
    color: #b12b0f;
}

#date-chart .legend {
    margin: 0 auto;
    display: block;
    width: 960px;
}

#date-chart .legend svg {
    margin-left: 150px;
}
