.axis path, .axis line {
    fill: none;
    stroke: #4A4A4A;
    shape-rendering: crispEdges;
}

.tick text {
    font-size: 12px;
}

.points circle {
    opacity: 0.6;
}

.line {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

circle.property {
    stroke: #A68900;
    fill: #BFA730;
}

circle.violent {
    stroke: #48036F;
    fill: #5F2590;
}

circle.rape {
    stroke:#A62000;
    fill: #BF4B30;
}

circle.gun {
    stroke: #439400;
    fill: #64AA2B;
}

circle.homicide {
    stroke: #A60000;
    fill: #FF4040;
}

circle.other {
    stroke: #C1C1AF;
    fill: #DADAC8;
}
