.axis path, .axis line {
    fill: none;
    stroke: #4A4A4A;
    shape-rendering: crispEdges;
}

.tick text {
    font-size: 12px;
}

.points circle {
    opacity: 0.6;
    cursor: pointer;
}

.line {
    fill: none;
    stroke-width: 3px;
}

.guideline {
    pointer: cursor;
}

circle.property, rect.property {
    stroke: #A68900;
    fill: #BFA730;
}

circle.violent, rect.violent {
    stroke: #48036F;
    fill: #5F2590;
}

circle.rape, rect.rape {
    stroke:#A62000;
    fill: #BF4B30;
}

circle.gun, rect.gun {
    stroke: #439400;
    fill: #64AA2B;
}

circle.homicide, rect.homicide {
    stroke: #A60000;
    fill: #FF4040;
}

circle.other, rect.other {
    stroke: #C1C1AF;
    fill: #DADAC8;
}

.container .title {
    text-align: center;
    margin-bottom: 25px;
}

.info-panel {
    width: 350px;
    margin: 0 auto;
    background-color: #EEE;
    padding: 10px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.info-panel h3 {
    font-size: 14px;
    font-family: 'Source Code Pro', monospace;
}

.info-panel h3 .inner {
    color: #b12b0f;
}

#date-chart .legend {
    margin: 0 auto;
    display: block;
    width: 960px;
}

#date-chart .legend svg {
    margin-left: 150px;
}
