@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
/*

Styles on top of Bootstrap
Written by Conor Gaffney, 2014

   ________________  ______
   / ____/ ____/ __ \/ ____/
  / __/ / /   / / / / /     
 / /___/ /___/ /_/ / /___   
/_____/\____/_____/\____/

*/

body,
h1,
h2,
h3,
h4,
h6,
a,
p {
  font-family: 'Source Sans Pro', sans-serif;
}
ul {
  list-style-type: none;
}
header {
  background: #EEE;
  padding: 20px;
  border-bottom: 1px solid #DDD;
}
footer {
  clear: both;
  background: #EEE;
  padding: 20px;
  border-top: 1px solid #DDD;
}
footer li {
  display: inline-block;
}

section {
  border-bottom: 1px solid #ddd;
}

.log p {
  font-family: 'Source Code Pro', monospace;
  color: #b12b0f;
  margin-left: 40px;
}

.graph-label {
  font-size: 10px;
  cursor: pointer;
}

rect:hover, {
  stroke: steelblue;
  cursor: pointer;
}

#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-size: 12px;
  line-height: 20px;
}

.homicides {
  text-align: center;
}
.homicides .count {
  font-weight: bold;
  font-size: 108px;
  margin-top: 0;
}

.zips path {
  stroke: #ddd;
}

rect {
  cursor: pointer;;
}

.old {
  fill: rgba(151,187,205,0.5);
}

.now {
  fill: rgba(255,222,184,0.5);
}